@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");

:root {
  --primary: #12bdff;
  --primary-hover: #045d80;
  --dark-primary: #1b1f24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #1b1f24;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
}
header a .logo {
  color: var(--primary);
  font-weight: bold;
  letter-spacing: 2px;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  margin: 20px;
}
header ul li a {
  color: aliceblue;
  text-decoration: none;
}

header ul li a:hover {
  color: #12bdff;
}

/* section: Hero Homepage*/

section.hero-section {
  background-color: var(--dark-primary);
  color: aliceblue;
  display: flex;
  align-items: center;
  padding: 20px 120px 0 240px;
}

.hero-section__title {
  font-size: 48px;
  font-weight: 900;
}
.hero-section__title > span {
  color: var(--primary);
}

.hero-section__desc {
  color: #97a8aa;
}

.social-icons {
  margin: 20px 0;
}
.social-icons li {
  margin-right: 10px;
}

.social-icons li > a {
  text-decoration: none;
  color: aliceblue;
}

ul.social-icons {
  display: flex;
  list-style: none;
}

.social-icons li > a:hover {
  color: var(--primary);
}

/* buttons*/

.hero-button button {
  margin-right: 10px;
}

.btn {
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: var(--primary);
  font-weight: 600;
  color: aliceblue;
}

.btn.btn-primary:hover {
  background-color: var(--primary-hover);
}

.btn-dark-outlined {
  background-color: var(--dark-primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--primary);
  font-weight: 600;
  box-shadow: ;
}

.btn-dark-outlined:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: white;
}
